.profilecards
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    width: 100%;
    min-height: 100%;
    background-color: rgba(208, 196, 196, 0.884);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card
{
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    background-color: white !important;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card>img
{
    width: 250px;
    height: 200px;
    object-fit:cover;
    object-position: top;
    cursor: pointer;
}

.content
{
    width: 100%;
    padding-left: 5px;
}

.zoomcontainer, .deleteProfile
{
    background-color: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

img.zoom
{
    width: 90%;
    height: fit-content;
    position: relative;
    border-radius: 8px;
}

p>span
{
    font-weight: 500;
}

.close, .imgclose
{
    height: 30px;
    width: 30px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top:20px;
    right: 0;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.imgclose
{
    top: 50px;
    right: 30px;
}

.preview
{
    position: absolute;
    top:0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
}

.footer
{
    width: 100%;
    display: flex;
    column-gap: 10px;
}

.view, .status, .edit, .delete
{
    border: 0;
    padding: 8px;
    border-radius: 8px;
    color: white;
}

.status
{
    width: 100%;
    margin-top: 10px;
}

.view
{
    background-color: var(--secondary-color);
}

.warning
{
    background-color: rgb(227, 227, 92);
    color: black;
}

.success
{
    background-color: rgb(66, 133, 66);
}

.edit
{
    background-color: var(--secondary-color);
}

.delete
{
    background-color: var(--primary-color);
}

.close
{
    position: absolute;
    top:30px;
    right: 30px;
    background-color: var(--secondary-color);
    height: 30px;
    width: 30px;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}