.container
{
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 20px;
    background-color: var(--secondary-color);
}

.headers
{
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 0;
}

.headers>p
{
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    color: black;
    border-radius: 8px;
    font-size: 14px;
}

.view
{
    width: 70%;
    height: 100%;
}

p.active
{
    background-color: var(--primary-color);
    color: white;
}

@media screen and (max-width:450px) 
{
    .container
    {
        flex-direction: column;
    }

    .headers
    {
        flex-direction: row;
        width: 100%;
        column-gap: 20px;
        display: flex;
        padding-bottom: 0;
    }   

    .headers>p
    {
        width: 50%;
    }

    .view
    {
        width: 100%;
    }
}

