.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
}

input, select, .next
{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border:0;
}

.next
{
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
}

label
{
    font-size: 14px;
    color: grey;
}

.file
{
    padding:0;
}

.upload
{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}