.container
{
    width: 100vw;
    margin-bottom: 20px;
}

.navbar
{
    height: 70px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1
{
    margin-left: 20px;
    color: rgb(184, 184, 184);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.register
{
    padding: 10px;
    border-radius: 8px;
    width: 80px;
    border: 0;
    margin-right: 20px;
    cursor: pointer;
}
